<div class="container">
  <h1>Create a New Habit</h1>

  <form action="/admin/new" method="POST" style="margin-top:20px;">
    <label>Title:</label>
    <input type="text" name="title" required>

    <label>Description:</label>
    <textarea name="description"></textarea>

    <button class="btn" type="submit">Create Habit</button>
  </form>
</div>
