<div class="container">
    <main>
        <div class="card" style="margin-top:20px;">

            <h2><%= habit.title %></h2>
            <p style="margin-top:10px; font-size:15px; color:#aaa;">
                <%= habit.description %>
            </p>

            <p style="margin-top:20px; font-size:13px; color:#777;">
                Created at: <%= habit.created_at.toLocaleString() %>
            </p>

            <a href="/" class="btn" style="margin-top:20px; display:inline-block;">â† Back</a>
        </div>
    </main>
</div>
